<% layout('layout') %>

    <body class="padding0 relative">
        <div class="absolute left0 top0 bgWhite col">
            <div class="height30 width50">
                <img src="/images/logo.png" alt="Logo" class="height90 borderWhite borderRadius500">
            </div>
            <p class="size40 str500">Welcome to Barangay San Andres</p>
            <br>
            <div class="height0">
                <img src="/images/brgy.jpg" alt="Logo" class="borderWhite h300 borderRadius15">
            </div>
        </div>
    </body>